%tr
  %td.px-3.py-2
    = bf.text_field :name, placeholder: "optional",
        class: "w-full px-2 py-1 text-lg border-2 border-gray-400 focus:border-gray-900 focus:outline-none"
  %td.px-3.py-2
    = bf.select :bike_type, [["Any", "any"], ["Male", "male"], ["Female", "female"], ["Kid", "kid"]],
        {}, class: "px-2 py-1 text-lg border-2 border-gray-400 bg-white"
  %td.px-3.py-2
    = bf.number_field :age, min: 1, max: 120,
        class: "w-20 px-2 py-1 text-lg border-2 border-gray-400 focus:border-gray-900 focus:outline-none"
  %td.px-3.py-2
    = bf.text_field :height, placeholder: "5'4\"",
        class: "w-28 px-2 py-1 text-lg border-2 border-gray-400 focus:border-gray-900 focus:outline-none"
  %td.px-3.py-2
    = bf.text_field :notes,
        class: "w-full px-2 py-1 text-lg border-2 border-gray-400 focus:border-gray-900 focus:outline-none"
