!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Wheels"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "Wheels", :name => "application-name"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.bg-white.min-h-screen
    - if current_user
      %nav.border-b-2.border-gray-900.px-6.py-4.flex.items-center.justify-between
        = link_to "Wheels", root_path, class: "text-2xl font-bold text-gray-900"
        .flex.items-center.gap-8
          %span.text-lg.text-gray-700= current_user.name
          = button_to "Log out", logout_path, method: :delete, class: "text-lg font-medium text-gray-900 underline bg-transparent border-0 cursor-pointer"
    - if flash[:notice]
      .px-6.py-3.bg-green-100.border-b.border-green-300.text-green-900.text-lg= flash[:notice]
    - if flash[:alert]
      .px-6.py-3.bg-red-100.border-b.border-red-300.text-red-900.text-lg= flash[:alert]
    .px-6.py-8
      = yield
